# Pasta de build do Maven
/target/

# Arquivos de log e do sistema operacional
*.log
.DS_Store

# Arquivos de configuração de IDEs
/.idea/
*.iml
/.vscode/
*.nbproject/
/nbproject/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/